@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  padding: 1%;
  min-width: 300px;
}

header {
  text-align: center;
  color: rgb(20, 96, 236);
}

.nav-menu-wrapper {
  background-color: hsla(202, 80%, 56%, 0.733);
  display: flex;
  flex-direction: column;
}

.categoryLinks {
  background-color: rgba(43, 194, 161, 0.733);
  margin: 0.2em;
  padding: 0.2em;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

@media screen and (min-width: 600px) {
  .nav-menu-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
  }

  .categoryLinks {
    max-width: 200px;
  }
}

ul {
  list-style: none;
}

.categoryLinks:hover {
  border: 1px solid red;
}

.user-login-section {
  background-color: rgb(248, 100, 74);
  text-align: center;
  padding: 1%;
}

.user-login-section-form {
  padding: 1%;
  margin: 1%;
}

.user-logged-section {
  background-color: rgb(159, 223, 151);
  padding: 1%;
}

.review-card-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: honeydew;
  align-items: flex-start;
  padding-bottom: 2em;
}

.review-card {
  background-color: rgb(248, 246, 227);
  border: 1px solid green;
  border-radius: 5px;
  max-width: 300px;
  margin: 1em;
  text-align: center;
  padding: 1em;
  font-size: small;
}

.review-card h3 {
  display: inline;
  font-size: small;
  font-weight: 700;
}

.review-card:hover {
  box-shadow: 0 0 11px hsla(209, 84%, 47%, 0.705);
}

.review-list-image {
  border-radius: 8px;
  border: 3px solid grey;
  max-width: 40%;
  height: auto;
}

.error-message-card {
  border: 1px solid red;
  border-radius: 5px;
  margin: 3%;
  padding: 1%;
  text-align: center;
}

.review-wrapper {
  padding: 1em;
}

.review-wrapper h3 {
  display: inline;
  font-size: large;
  font-weight: 700;
}

.review-wrapper p {
  margin-bottom: 1em;
}

.sort-wrapper {
  display: flex;
  flex-flow: row wrap;
  border-radius: 5px;
  border: 1px solid blue;
  margin: 1em;
  padding: 1em;
}

.sort-wrapper-box {
}
footer {
  padding: 2em;
  background-color: lightcyan;
}
